<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <link rel="stylesheet" href="/root.css">
</head>
<body>
<h1>修改酒店数据库 以下为酒店现有数据</h1>
<form  id="return" th:action="@{/root}" method="get">
    <div class="normal-button">
        <button type="submit">返回</button>
    </div>
</form>
<div class="formContainer">
    <form class="formComponent" id="addHotel" th:action="@{/root/hotel/add}" method="post">
        <label for="addHotel">添加酒店信息</label>

        <label for="location">酒店地点：</label>
        <input type="text" id="location" name="location" required>
        <label for="price">酒店价格：</label>
        <input type="text" id="price" name="price" required>
        <label for="numRooms">房间数：</label>
        <input type="text" id="numRooms" name="numRooms" required>


        <div class="button-container">
            <button type="submit">添加该酒店</button>
        </div>
    </form>

    <form class="formComponent" id="delHotel" th:action="@{/root/hotel/del}" method="post">
        <label for="delHotel">删除酒店信息</label>

        <label for="location1">酒店地点：</label>
        <input type="text" id="location1" name="name" required>

        <div class="button-container">
            <button type="submit">删除该酒店</button>
        </div>
    </form>
</div>

<table id="dataTable" class="custom-table">
    <!-- 表头 -->
    <thead>
    <tr>
        <!-- 使用 Thymeleaf 循环渲染表头 -->
        <th th:each="label : ${self_label}" th:text="${label}"></th>
    </tr>
    </thead>
    <!-- 数据行 -->
    <tbody>
    <!-- 使用 Thymeleaf 循环渲染数据 -->
    <tr th:each="item : ${hotels_list}">
        <!-- 使用 Thymeleaf 循环渲染数据属性 -->
        <!-- 使用 Thymeleaf 获取 Flight 类的具体属性值 -->
        <td th:text="${item.location}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.numRooms}"></td>
        <td th:text="${item.numAvail}"></td>


    </tr>
    </tbody>
</table>

<div id="hotels_json" th:attr="hotels_json=${hotels_list_json}"></div>
<script>
    document.getElementById('addHotel').addEventListener('submit', function (event) {
        // 阻止表单的默认提交行为
        event.preventDefault();
        var addidValue = document.getElementById('location').value.toString();
        var a = document.getElementById('hotels_json')
        var json = a.getAttribute('hotels_json')
        /* 将后端的 Bus 列表转换为 JavaScript 对象列表 */
        var List = JSON.parse(json);

        var isValueInList = List.some(function (item) {
            return item.location === addidValue
        });

        if (isValueInList) {
            alert('添加失败，重复！');

        } else {
            alert('添加成功！');
            this.submit();
        }
    });
</script>

<script>
    document.getElementById('delHotel').addEventListener('submit', function (event) {
        // 阻止表单的默认提交行为
        event.preventDefault();

        var delidValue = document.getElementById('location1').value.toString();
        var a = document.getElementById('hotels_json')
        var json = a.getAttribute('hotels_json')
        /* 将后端的 Flight 列表转换为 JavaScript 对象列表 */
        var List = JSON.parse(json);


        var isValueInList = List.some(function (item) {
            return item.location === delidValue
        });

        if (isValueInList) {
            alert('删除成功！');
            this.submit();
        } else {
            alert('输入的值不在可选列表中，请重新输入！');
        }
    });
</script>
</body>
</html>