<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/reserve.css">
    <link rel="stylesheet" href="/button.css">
    <title>Dashboard</title>
</head>
<body>

<!-- 显示用户信息 -->
<h1 th:text="${user_info}"></h1>
<!-- 显示用户旅行路线 -->
<p th:text="${user_route}"></p>
<p th:text="您当前的预约如下"></p>
<table id="dataTable" class="custom-table">
    <thead>
    <tr>
        <!-- 使用 Thymeleaf 循环渲染表头 -->
        <th th:each="label : ${route_label}" th:text="${label}"></th>
    </tr>
    </thead>
    <!-- 数据行 -->
    <tbody>
    <!-- 使用 Thymeleaf 循环渲染数据 -->
    <tr th:each="item : ${tuple_route}">
        <!-- 使用 Thymeleaf 循环渲染数据属性 -->
        <!-- 使用 Thymeleaf 获取 Flight 类的具体属性值 -->
        <td th:text="${item.name}"></td>

        <td th:text="${item.type}"></td>
        <td th:text="${item.dateString}"></td>


    </tr>
    </tbody>
</table>


<!-- 使用Thymeleaf添加四个按钮 -->
<form method="get" action="/user/reserve">
    <input type="hidden" name="type" value="flight">
    <button type="submit">选择飞机</button>
</form>

<form method="get" action="/user/reserve">
    <input type="hidden" name="type" value="bus">
    <button type="submit">选择公交</button>
</form>

<form method="get" action="/user/reserve">
    <input type="hidden" name="type" value="hotel">
    <button type="submit">选择酒店</button>
</form>

<form method="get" action="/user/delete">
    <input type="hidden" name="page" value="del">
    <button type="submit">调整预定</button>
</form>
<form method="post" action="/user/dashboard">
    <input type="hidden" name="page" value="del">
    <button type="submit">退出登录</button>
</form>
</body>
</html>